@charset "utf-8";


body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
html{
    width: 100%;
}

body{
    width: 60%;
}

.top{
    display: flex; 
    justify-content: center;
}

.head_img{
    width:200%;
    height: auto;
}

